<section class="buttons">        
    <a href="#add"><button>Add</button></a>
    <a href="#edit"><button>Edit</button></a>
    <input type="text" size="50" placeHolder="search" />	
    <div id="filter" ng-click="showFilter()">filter</div>
    <div ng-show="filter" class="cssSlideUp" >
    	<ul>
    		<li><input type="checkbox"> - Citizen </li>
    		<li><input type="checkbox"> - Volenteer </li>
    		<li><input type="checkbox"> - Cadre </li>
    	</ul>

    </div>

</section>
<section>
	<div>Search</div>

	<div ng-repeat="user in constituencyData" class="tiles">
		<input type="checkbox">
		{{user.firstName}}
	</div>
</section>