<section class="buttons">        
    <a href="#add"><button>Add</button></a>
    <a href="#edit"><button>Edit</button></a>
    <input type="text" size="50" placeHolder="search" />	
    <div id="filter" ng-click="showFilter()">filter</div>
    <div ng-show="filter" class="cssSlideUp" >
    	<ul>
    		<li><input type="checkbox" ng-model="citizen"> - Citizen </li>
    		<li><input type="checkbox" ng-model="volenteer"> - Volenteer </li>
    		<li><input type="checkbox" ng-model="cadre"> - Cadre </li>
    	</ul>
    	<button ng-click="search()">Filter</button>

    </div>

</section>
<section>
	<div>Search</div>

	<div ng-repeat="user in constituencyData" class="tiles">
		<input type="checkbox">
		{{user.firstName}}
	</div>
</section>