<section class="buttons"> 
	<button type="button" ng-click="add()">Add</button>
	<button type="button" ng-click="edit()">Edit</button>
	<button type="button" ng-click="delete()">Delete</button>
</section>
<section>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>location</th>
			<th>Id</th>
		</tr>
		<tr ng-repeat="constituency  in constituencyData">
			<td>{{constituency.firstName}}</td>
			<td>{{constituency.lastName}}</td>
			<td>{{constituency.location}}</td>
			<td>{{constituency.id}}</td>
		</tr>	
	</table>
</section>